@font-face {
    font-family: dosis-bold;
    src: url('../../fonts/dosis/Dosis-Bold.ttf');
}

@font-face {
    font-family: dosis-regular;
    src: url('../../fonts/dosis/Dosis-Regular.ttf');
}

@font-face {
    font-family: dosis-semibold;
    src: url('../../fonts/dosis/Dosis-SemiBold.ttf');
}